{{ define "partials/header.tmpl" }}
<!doctype html>
<html class="dark" lang="en">
  <head>
    <title>{{ .title }}</title>
    <script src="static/alpine.min.js" defer></script>
    <script src="static/htmx-2.0.4.min.js" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    <script src="static/main.js"></script>
    <link href="static/main.css" rel="stylesheet" />
  </head>
  <body>
{{ end }}
