{{ define "pages/server_index.tmpl" }}
{{ template "partials/header.tmpl" . }}
<div class="gsync-main-container w-full box-border">
  <div class="nav">
    <div>
      <h1>Gsync Server</h1>
    </div>
    <div>
      <button class="buttonGreen">Start Server</button>
    </div>
  </div>
  {{ template "partials/footer.tmpl" . }}
</div>
{{ end }}
